body{
    background-color: #E5E5FD;
    text-align: center;
    font-style: times;
    align-items: center;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.imageStyle{
    border-radius: 50%;
    margin: 0 auto;
    margin-left: 570px;
}
.head{
    text-align: left;
    margin-left: 20px;
    margin-top: 150px;
    font-size: 50px;
}
.subHead{
    margin-left: 610px;
    margin-top: -70px;
    font-size: 30px;
}
.boldHead{
    font-size: 70px;
    margin: 0 auto;
    margin-left: -420px;
    margin-top: 80px;
    font-weight: 400;
}
.row{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
}
.para{
    width: 50%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    line-height: 1.6;
}
.para2{
    width: 50%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: right;
    line-height: 1.6;
}

h3{
    text-align: left;
    margin-left: 500px;
    font-size: 30px;
}

.listContainer{
    text-align: left;
    width: 50%;
    font-size: 18px;
    margin: 0 auto;
    line-height: 2.0;
    font-weight: 400;
}